<div class="cart-form-page">
    <div class="cart__container">
        <div class="cart__header">Оформление заказа</div>
        <div class="cart__body">

            <form class="cart__form">
                <span class="p-float-label">
					<input id="float-input" type="text" pInputText> 
					<label for="float-input" formControlName="name">ФИО</label>
				</span>
                <span class="p-float-label">
					<input id="float-input" type="text" pInputText> 
					<label for="float-input" formControlName="phone">Номер телефона</label>
				</span>
                <span class="p-float-label">
					<input id="float-input" type="text" pInputText> 
					<label for="float-input" formControlName="email">Электронная почта</label>
				</span>
                <span class="p-float-label">
					<input id="float-input" type="text" pInputText> 
					<label for="float-input" formControlName="city">Город</label>
				</span>
                <span class="p-float-label">
					<input id="float-input" type="text" pInputText> 
					<label for="float-input" formControlName="address">Улица/Дом/Квартира</label>
				</span>
                <span class="p-float-label">
					<input id="float-input" type="text" pInputText> 
					<label for="float-input" formControlName="postcode">Индекс</label>
				</span>
            </form>

            <div class="order-price__wrapper">
                <div class="order-price__header">Итоговая стоимость</div>
                <div class="order-price__body">
                    <div class="product-quantity">Товары: {{products.length}} шт.</div>
                    <div class="order-price__number">{{ getCartPrice() }} ₽</div>
                </div>
                <button class="make-order__btn" (click)="makeOrder()">Оформить заказ</button>
            </div>

        </div>

    </div>
</div>