<div class="cart-form-page">
    <div class="cart__container">
        <div class="cart__header">Оформление заказа</div>
        <div class="cart__body">
            <form class="cart__form">
                <span class="p-float-label">
					<input id="float-input" type="text" pInputText> 
					<label for="float-input">ФИО</label>
				</span>
                <span class="p-float-label">
					<input id="float-input" type="text" pInputText> 
					<label for="float-input">Номер телефона</label>
				</span>
                <span class="p-float-label">
					<input id="float-input" type="text" pInputText> 
					<label for="float-input">Электронная почта</label>
				</span>
                <span class="p-float-label">
					<input id="float-input" type="text" pInputText> 
					<label for="float-input">Город</label>
				</span>
                <span class="p-float-label">
					<input id="float-input" type="text" pInputText> 
					<label for="float-input">Улица/Дом/Квартира</label>
				</span>
                <span class="p-float-label">
					<input id="float-input" type="text" pInputText> 
					<label for="float-input">Индекс</label>
				</span>
                <button class="make-order__btn">Оформить заказ</button>
            </form>

        </div>
    </div>
</div>