<div class="about-page">
    <div class="about-page__container">
        <header class="about__header">
            <div class="header__left-block"></div>
            <div class="header__text">О нас</div>
            <div class="header__right-block"></div>
        </header>
        <div class="about__body">
            <div class="body__left-block">
                <div class="left-block__top">Добро пожаловать на сайт «Retro Game»</div>
                <div class="left-block__center">Все из нас помнят то непередаваемое чувство, когда родители дарят в детстве первую игровую приставку. Холодок по телу пробегающий от заставки «SEGA» на экране телевизора, от 8ми битной музыки в культовых играх минувших дней.</div>
                <div class="left-block__bottom">Наш магазин «Retro Game» готов подарить вам чувство теплоты и ностальгии с приставками и играми из нашего прошлого, а так же познакомит новое поколение с азартом, который мы ощущали и испытывали, когда-то давно в далеком детстве.</div>
            </div>
            <img src="../../../../assets/images/about.png" alt="" class="body__right-block">
        </div>
    </div>
</div>