.account-page {
    min-height: 97%;
}

.account-page__container {
    width: 1040px;
    padding: 93px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout-btn {
    display: flex;
    align-items: center;
    font-family: Nunito;
    font-size: 14px;
    font-weight: bold;
    color: #323232;
    background: transparent;
    align-self: flex-end;
    margin-bottom: 15px;
    padding: 4px;
    border-radius: 5px;
    &:hover {
        background: #D3D3D3;
    }
    &:active {
        background: #C0C0C0;
    }
}

.logout-icon {
    margin-right: 10px;
    margin-top: 2px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.account__form {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.save-btn {
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    color: #323232;
    width: 150px;
    height: 41px;
    padding: 9px 23px 9px 20px;
    border-radius: 4px;
    background-color: #ffd44f;
    &:hover {
        background: #FFE38B;
    }
    &:active {
        background: #EFCF6B;
    }
    margin-top: 20px;
}

.order-wrapper {
    display: flex;
    flex-direction: column;
    width: 410px;
    align-self: center;
}

.order__header {
    display: flex;
    justify-content: space-between;
    width: 410px;
    height: 40px;
    padding: 10px 22px 10px 22px;
    border-radius: 4px;
    background-color: #ffd44f;
    font-family: Nunito;
    font-size: 14px;
    font-weight: bold;
    color: #323232;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 25px;
}

.order__number {}

.order__date {}

.order__item {
    display: flex;
    justify-content: space-between;
    font-family: Nunito;
    font-size: 14px;
    font-weight: bold;
    color: #323232;
    margin: 10px 0;
    padding: 0 22px;
}

.item__name {
    display: flex;
    width: 271px;
    line-height: 20px;
}

.item__price {}

.order__footer {
    margin-top: 10px;
    padding: 14px 0;
    border-top: 2px solid #ffd44f;
    display: flex;
    justify-content: space-between;
    font-family: Nunito;
    font-size: 14px;
    font-weight: bold;
    color: #323232;
}

.total-name {}

.total-price {}