.cart-products-page {
    min-height: 80%;
}

.cart__container {
    min-height: 80vh;
    width: 1140px;
    padding: 93px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.cart__header {
    margin-bottom: 39px;
    font-family: Oswald;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #323232;
}

.cart__body {
    display: flex;
    justify-content: space-between;
}

.product__list {}

.list__header {
    width: 690px;
    padding-bottom: 9px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #FFD44F;
    font-family: Oswald;
    font-size: 16px;
    line-height: 21px;
    color: #5E6572;
}

.header__name {
    margin-right: 445px;
}

.header__price {}

.list__item {
    width: 690px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0;
}

.item__image {
    height: 80px;
    width: 100px;
    border-radius: 3px;
}

.image-wrapper {
    height: 80px;
    width: 100px;
    margin-right: 20px;
}

.item__number {
    margin-right: 14px;
    font-family: Oswald;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6572;
}

.item__name {
    width: 400px;
    margin-right: 30px;
    font-family: Oswald;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #323232;
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

.item__price {
    margin-right: auto;
    font-family: Oswald;
    font-size: 18px;
    font-weight: bold;
    color: #323232;
}

.del-from-cart__btn {
    color: #323232;
    background: transparent;
    width: 30px;
    height: 30px;
    &:hover {
        background: #D3D3D3;
        border-radius: 2px;
    }
    &:active {
        background: #C0C0C0;
    }
}

.pi {}

.pi-times {}

.order-price__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px;
    width: 301px;
    height: 215px;
    border-radius: 8px;
    border: solid 1px #5e6572;
    background-color: #ffffff;
}

.order-price__header {
    font-family: Oswald;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #323232;
}

.order-price__body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 2px solid #FFD44F;
}

.product-quantity {
    font-family: Oswald;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #5E6572;
}

.order-price__number {
    font-family: Oswald;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    color: #323232;
}

.next__btn {
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    color: #323232;
    width: 210px;
    height: 40px;
    padding: 9px 23px 9px 20px;
    border-radius: 4px;
    background-color: #ffd44f;
    &:hover {
        background: #FFE38B;
    }
    &:active {
        background: #EFCF6B;
    }
}

.cart-empty {
    margin: 0 auto;
    margin-bottom: 39px;
    font-family: Oswald;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #323232;
}