<div class="cart-products-page">
    <div class="cart__container">
        <div class="cart__header">
            Корзина
        </div>
        <div class="cart__body">
            <div class="product__list">
                <div class="list__header"></div>
                <div class="list__item">
                    <div class="item__number"></div>
                    <div class="item__name"></div>
                    <div class="item__price"></div>
                    <button class="del-from-cart__btn"></button>
                </div>
            </div>
            <div class="order-price__wrapper">
                <div class="order-price__header"></div>
                <div class="order-price__body">
                    <div class="product-quantity"></div>
                    <div class="order-price__number"></div>
                </div>
                <button class="next__btn">Продолжить оформление</button>
            </div>
        </div>

    </div>
</div>