<div class="cart-products-page">
    <div class="cart__container">
        <div class="cart-empty" *ngIf="!products.length">
            Корзина пуста
        </div>
        <div class="cart__header" *ngIf="products.length">
            Корзина
        </div>
        <div class="cart__body" *ngIf="products.length">
            <div class="product__list">
                <div class="list__header">
                    <div class="header__name">Наименование товара</div>
                    <div class="header__price">Цена</div>
                </div>
                <div class="list__item" *ngFor="let product of products; let i = index">
                    <div class="item__number">{{i+1}}.</div>
                    <div class="image-wrapper">
                        <img src="{{product.image_path}}" alt="" class="item__image">
                    </div>
                    <div class="item__name" [routerLink]="['/product', product.id]">{{product.name}}</div>
                    <div class="item__price">{{product.price}} ₽</div>
                    <button class="del-from-cart__btn pi pi-times" (click)="deleteFromCart(product)"></button>
                </div>
            </div>
            <div class="order-price__wrapper">
                <div class="order-price__header">Итоговая стоимость</div>
                <div class="order-price__body">
                    <div class="product-quantity">Товары: {{products.length}} шт.</div>
                    <div class="order-price__number">{{ getCartPrice() }} ₽</div>
                </div>
                <button class="next__btn" [routerLink]="['/checkout']">Продолжить оформление</button>
            </div>
        </div>
    </div>
</div>