<div class="products-detail-page">
    <div class="product__container">
        <div class="product__header">{{product.name}}</div>
        <div class="product__body">
            <img [src]="product.image_path" alt="" class="product__image">
            <div class="product__attributes">
                <div class="attribute" *ngFor="let attribute of product.attributes">
                    <span class="attribute__name">{{attribute.name}}: </span>
                    <span class="attribute__value">{{attribute.value}}</span>
                </div>
            </div>
            <div class="product__price-wrapper">
                <div class="product__price">{{product.price}} ₽</div>
                <button class="add-to-cart__btn" (click)="addToCart()" *ngIf="!isInCart()">Добавить в корзину</button>
                <button class="move-to-cart__btn" [routerLink]="['/cart']" *ngIf="isInCart()">Перейти в корзину</button>
            </div>
        </div>
        <div class="product__description">
            <div class="description__header">Описание:</div>
            <div class="description__body">{{product.description}}</div>
        </div>
    </div>
</div>