<footer class="footer">
    <div class="footer__container">
        <img src="../../../../assets/images/logo-footer.svg" alt="" class="footer__logo">
        <div class="footer__links">
            <a href="" class="links-policy">Политика конфиденциальности</a>
            <a href="" class="links-consent">Соглашение на обработку данных</a>
        </div>
        <div class="footer__copyright">
            <span class="copyright-year">© 2020 Retrogame</span>
            <span class="copyright-text">Все права защищены.</span>
        </div>
        <div class="footer__email">
            <span class="email-text">Электронная почта:</span>
            <span class="email-address">retrogame@gmail.com</span>
        </div>
        <div class="footer_phone">
            <span class="phone-text">Телефон</span>
            <span class="phone-number">343-342</span>
        </div>
    </div>
</footer>