<div class="registration-page">
    <div class="registration-page__container">
        <header class="registration__header">Регистрация</header>
        <form class="registration__form" [formGroup]="registerForm">
            <span class="p-float-label">
				<input id="float-input" type="text" pInputText> 
				<label for="float-input">ФИО</label>
			</span>
            <span class="p-float-label">
				<input id="float-input" type="text" pInputText formControlName="email"> 
				<label for="float-input" >Email</label>
			</span>
            <span class="p-float-label">
				<input id="float-input" type="text" pInputText formControlName="password"> 
				<label for="float-input" >Пароль</label>
			</span>
            <span class="p-float-label">
				<input id="float-input" type="text" pInputText formControlName="password_confirmation"> 
				<label for="float-input" >Повторите пароль</label>
			</span>
            <div class="registration__policy">
                <input type="checkbox" checked>
                <div class="policy__text">Согласие на обработку персональных данных</div>
            </div>
        </form>
        <button class="registration-btn" (click)="registerUser()">Зарегистрироваться</button>
    </div>
</div>