<div class="products-page">
    <p-dataView #dv [value]="products" [paginator]="true" [rows]="16" [sortField]="sortField" [sortOrder]="sortOrder" filterBy="name" layout="grid" [totalRecords]="100">
        <ng-template pTemplate="header">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Сортировать" (onChange)="onSortChange($event)"></p-dropdown>
            <input class="products__filter" type="search" placeholder="Поиск по товарам" (input)="dv.filter($event.target.value)">
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div class="cards__container">
                <div class="product-card" [routerLink]="['/product', product.id]">
                    <img src="{{product.image_path}}" alt="" class="card__image">
                    <div class="card__name">{{product.name}}</div>
                    <div class="card-bottom">
                        <div class="card__price">{{product.price}} ₽</div>
                        <button class="card__button-add" *ngIf="!isInCart(product)" (click)="addToCart($event, product)">В корзину</button>
                        <button class="card__button-done" (click)="goToCart($event)" *ngIf="isInCart(product)">В корзине</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>