<div class="delivery-page">
    <div class="delivery-page__container">
        <header class="delivery__header">
            <div class="header__left-block"></div>
            <div class="header__text">Доставка и оплата</div>
            <div class="header__right-block"></div>
        </header>
        <div class="delivery__body">
            <div class="body__header">Способы оплаты</div>
            <div class="body__content">Оплата заказа возможна банковской картой платежных систем МИР MasterCard и Visa, а также из кошельков QIWI и ЮMoney.</div>
            <div class="body__header">Доставка</div>
            <div class="body__content">Доставка осуществляется по всей России Почтой России, а также транспортными компаниями СДЭК, DPD и Boxberry. Цена будет зависеть от веса посылки. Гарантируется надежная упаковка.</div>
            <div class="body__header">Обработка заказа</div>
            <div class="body__content">После создания заказа с вами свяжется наш менеджер для подтверждения заказа, а также уточнения деталей доставки и оплаты. После согласования на вашу почту будет отправлен счет для оплаты заказа.</div>
        </div>
    </div>
</div>