<div class="login-page">
    <div class="login-page__container">
        <header class="login__header">Вход</header>
        <form class="login__form">
            <span class="p-float-label">
				<input id="float-input" type="text" pInputText> 
				<label for="float-input">Email</label>
			</span>
            <span class="p-float-label">
				<input id="float-input" type="text" pInputText> 
				<label for="float-input">Пароль</label>
			</span>
            <button class="login-btn">Войти</button>
        </form>
    </div>
</div>